h1 {
    font-weight: 600;
    font-size: 50px;
    resize: none;
}

.label-75 {
    font-size: 25px;
    padding-right: 1.5rem;
    resize: none;
}

input[type=radio] {
    margin-right: 10px;
}

.label {
    font-size: 30px;
    padding-right: 1.5rem;
    resize: none;
}

.row {
    padding: 1rem;
    padding-bottom: 0rem;
    margin-left: 0px;
    margin-right: 0px;
}

.col {
    width: 100%;
}

.row-25 {
    padding: 1rem;
    padding-top: 0rem;
    margin-left: 0px;
    margin-right: 0px;
}

#comments {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#other-mood {
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    color: gray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}
